h1 {
    background-color: beige;
    color:blue;
    text-align: center;
}

p {
    display: flex;
    margin-right: 4em;
    margin-left: 4em;
    font-size: large;
}

.end-game {
    display: none;
}