h1 {
    background-color: beige;
    color:blue;
    text-align: center;
}

p {
    display: flex;
    margin-right: 4em;
    margin-left: 4em;
    font-size: large;
    justify-content: center;
}

.game-screen {
    justify-content: center;
    align-content: center;
}

.end-game {
    display: none;
}

.score-container {
    
}

#player-score-container {
    color: blue;
    display: inline-block;
    
}

#computer-score-container {
    color: red;
    display: inline-block;

}