head {
    background-color: #A5D17A;
}

body {
    background-color: #A5D17A;
    font-family: 'Rockwell';
}

h1 {
    font-size: 3.5em;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0.2em;
}

p {
    display: flex;
    margin-right: 4em;
    margin-left: 4em;
    font-size: large;
    justify-content: center;
}

#rules-graphic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 45%; */
    width: auto;
    /* max-width: 450px; */
    margin-top: 0em;
    max-height: 17em;

}

div {
    /*border-width: 4px;
    border-color: red;
    border-style: solid; */
}

.game-screen {
    /*display: flex;
    /* justify-content: center; */
    /*border-width: 4px;
    border-color: blue;
    border-style: solid; */
}

.results {
    display: flexbox;
}

.user-choice-buttons {
    display: flex;
    justify-content: space-between;
    margin-right: 25%;
    margin-left: 25%;
}

#game-results {
    display: flexbox;
}

#round-results {
    display: flexbox;
}

#Rock {
    display: inline-flexbox;
    background-color: #840404;
    width: 8em;
    height: 3em;
    border-radius: 0.5em;
    border-color: white;
    color: white;
    font-size: 1.2em;
    margin: 0.5em;
}

#Paper {
    display: inline-flexbox;
    background-color: #070785;
    width: 8em;
    height: 3em;
    border-radius: 0.5em;
    border-color: white;
    color: white;
    font-size: 1.2em;
    margin: 0.5em;
}

#Scissors {
    display: inline-flexbox;
    background-color: #068506;
    width: 8em;
    height: 3em;
    border-radius: 0.5em;
    border-color: white;
    color: white;
    font-size: 1.2em;
    margin: 0.5em;
}

.end-game {
    display: none;
    flex-direction: column;
    justify-content: center;
}

#play-again {
    /* padding-left: 40%;
    padding-right: 40%; */
    width: 15%;
    display: inline-flexbox;
    background-color: #840404;
    width: 8em;
    height: 3em;
    border-radius: 0.5em;
    margin-right: 4em;
    margin-left: 4em;
}

.score-container {
    /* border-width: 4px;
    border-color: yellow;
    border-style: solid; */
    display: flex;
    justify-content: center;
}

#player-score-container {
    display: inline-flexbox;
    /* border-width: 4px;
    border-color: green;
    border-style: solid; */
}

#computer-score-container {
    display: inline-flexbox;
    border-width: 4px;
    /* border-color: pink;
    border-style: solid; */
    

}